@media (max-width:810px){
    .main-content
    {
      margin-top: 10%;
    }
    .main-content>img{
        margin-bottom: 15px;
    }
    .main-content>h1{
        font-size: 30px;
    }
    .name{
        left: 57%;
    }
    .nav-left{
        display: none;
    }
    .nav-right{
        display: none;
    }
    .header{
        padding-left: 10px;
        padding-right: 10px;
    }
    #Email{
       display: flex;
       gap: 5px;

    }
    #nav{
        display: flex;
        gap: 5px;
    }
    #page3>h1
    {
        font-size: 30px;
        padding-bottom: 80px;
    }
    .wbox1{
        padding-top: 50px;
        flex-direction: column;
        padding-left: 30px;
        padding-right: 20px;
        align-items: center;
        justify-content: center;
    }
    .box1>h4{
        font-size: 15px;
    }
    .services{
        padding-bottom: 70px;
    }
    .box{
        top: 29%;
    }
    footer{
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 5vh;
        align-items: center;
    }
}